fuse*
.DS_Store
*~
*.*~
.*.sw*
._*
.#*
*.swp

docs_lib/
node_modules/
support/.lein/
support/clojure-clojurescript/
support/leiningen/
support/out/

.nlein.json
npm-debug.log
support/nodejuice/symlinks/node
