fuse*
.DS_Store
*~
*.*~
.*.sw*
._*
.#*
*.swp

docs/
docs_lib/
lib/
node_modules/
out/
support/clojure-clojurescript/
support/nodejuice
support/tools
support/VERSIONING.txt
test/

.gitignore
.travis.yml
Cakefile
manifest.coffee
nodejuice.js
npm-debug.log
TODO.txt
