fuse*
.DS_Store
*~
*.*~
.*.sw*
._*
.#*
*.swp

docs/
node_modules/
support/.lein/
support/clojure-clojurescript/
support/leiningen/
support/out/
support/tools/
test/

.gitignore
.nlein.json
.travis.yml
npm-debug.log
TODO.txt
