<!DOCTYPE html>
<html>
<head>
    <title>nodeJuice - JavaScript V8 Seeker Server WSGI</title>
    <link href=/style.css rel=stylesheet />
    <!--<script src=/fly.js></script>-->
    <meta name=viewport content="width=device-width; initial-scale=0.80; maximum-scale=0.80; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
</head>
<body>
    <div id=nodejuice>
        <a href=/><span id=node>node</span><span id=juice>Juice</span></a>
        <a id=git href=http://github.com/stephenlb/nodejuice>github repository</a>
        <a class=outlinks href=/install>Install</a>
        <a class=outlinks href=http://vimeo.com/8459839><span class=n>node</span><span class=j>Juice</span> Video</a>
        <a class=outlinks href=/documentation>Documentation</a>
        <a class=outlinks href=http://www.saymix.com/stephen_blum/nodejuice_wsgi_benchmarks_in_production_mode>Benchmark</a>
        <a class=outlinks href=/blog>Blog</a>
        <a class=outlinks href=http://github.com/stephenlb/nodejuice/issues>Bugs</a>
        <a class=outlinks href=/nodejs>NodeJS</a>
    </div>

    <div class=clear></div>

    <div id=stage>
    <a href=http://vimeo.com/8459839><img
        border=0
        id=ninja-img
        title='NodeJuice Ninja Video'
        alt='NodeJuice Ninja'
        src=http://cdn.nodejuice.com/nodejuice-ninja.png
    /></a>

<div id="traffic-beat-info">
<a href="http://www.pubnub.com/"
alt="Add PubNub to your website on www.PubNub.com"
title="Add PubNub to your website on www.PubNub.com"
>PubNub Traffic Beat (Live Human Traffic)</a></div>
<div id="traffic-beat-2"
     channel="njtb-2"
     url-display-limit="5"
     interface="on"
     interval="80"
></div>



    <div>{{content}}</div>

    <div id=bottom>
            <div>Hi. You made it to the bottom.</div>
            <div>
                This website was built using nodeJuice's WSGI and
                Seeker Server with kickass.
            <div>
            </div>
                NodeJuice's WSGI is not Python's WSGI.
                WSGI stands for Web Server Gateway Interface.
            </div>
        <p>
            <a href=http://www.google.com/profiles/blum.stephen>
            About the author</a>.
        </p>
        &copy; Copyright <span class=n>node</span><span class=j>Juice</span>
    </div>

<script src="http://pubnub.s3.amazonaws.com/pubnub-3.0.min.js" pub-key="ea1afbc1-70a3-43c1-990c-ede5cf65a542" sub-key="e19f2bb0-623a-11df-98a1-fbd39d75aa3f" ssl="off" id="pubnub"></script>
<script src="http://pubnub-prod.appspot.com/js-app/traffic-beat-2?id=111787307768736838511"></script>
<script>
/*
setTimeout(function(){
var img = document.getElementById('ninja-img');
img.src='http://nodejuice.s3.amazonaws.com/nodejuice-ninja.png';
img.style.display='block';
},6000);
*/
(function(){
if (location.href.indexOf('.') === -1) return;
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
})()
</script>
<script>
(function(){
if (location.href.indexOf('.') === -1) return;
try {
var pageTracker = _gat._getTracker("UA-12311376-1");
pageTracker._setDomainName("none");
pageTracker._setAllowLinker(true);
pageTracker._trackPageview();
} catch(err) {}
})()
</script>
</body>
</html>
