<h1><a href=http://mongodb.org>
<span class=mongo>Mongo</span><span class=db>DB</span>
</a></h1>

Go visit <a href=http://mongodb.org><span class=mongo>Mongo</span><span class=db>DB</span></a>
and discover amazing things.
Plans are made to integrate with <div class=n>node</div><div class=j>Juice</div>.
<p>
Combining the best features of document databases, key-value stores, and RDBMSes.
MongoDB (from "humongous") is a scalable, high-performance, open source, schema-free, document-oriented database. Written in C++, MongoDB has many features.
</p>
