<h1><a href=http://nodejs.org>
<span class=node>Node</span><span class=js>JS</span>
</a></h1>
This is the non-blocking process which makes 
<span class=n>node</span><span class=j>Juice</span> possible.
Go visit <a href=http://nodejs.org><span class=node>Node</span><span class=js>JS</span></a>
and discover amazing things.
<p>
Node's goal is to provide an easy way to build scalable network programs. Node tells the operating system (through epoll, kqueue, /dev/poll, or select) that it should be notified when something happens. If someone new connects, then it executes a callback. Each connection is only a small heap allocation.
</p>
